#include "resource.hpp"

WRES_ICON_ICO ICON "tray_icon_one.ico"

PRINTFX_MENU_TRAY_RIGHTCLICK MENU
BEGIN
    POPUP "_POPUP_"
    BEGIN
        MENUITEM "Version",                     PRINTFX_MENU_ENTRY_VERSION
        MENUITEM SEPARATOR
        MENUITEM "Exit",                        PRINTFX_MENU_ENTRY_EXIT
    END
END